	<table>
	  <tbody>
	    <tr>
	      <td style="color: #153643; font-family: Arial, sans-serif; font-size: 20px;">
	      	<p>You have received a new contact form message. The contents of the message are:</p></td>
	    </tr>
	    <tr>
	      <td><p><%= @message %></p></td>
	    </tr>
	  </tbody>
	</table>
