// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-grid{

	padding: 30px;
}
.grid-img{
	height: 150px;
}
#product_name{
	white-space: nowrap;
	width: 12em;
	overflow :hidden;
	text-overflow: ellipsis;

}